.reset-cont {
  max-width: 700px;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.reset-cont > div {
  margin-top: 0.5em;
}

.reset-head {
  font-size: 2.5em;
  font-weight: bold;
}

.reset-cont .info {
  text-align: center;
  font-size: 15px;
}

.reset-cont form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
}

.reset-cont form > div {
  margin-top: 1em;
  width: 100%;
}

.new-pass {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.eye {
  position: absolute;
  margin-top: 1.27em;
  cursor: pointer;
  right: 0;
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  .reset-cont {
    max-width: 95vw;
    margin: auto;
    margin-top: 1em;
    padding: 0;
  }

  .reset-head {
    font-size: 2em;
  }

  .reset-cont form {
    max-width: 90vw;
    margin: auto;
    margin-bottom: 1em;
    padding: 0;
  }
}
