.shopping-cart {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}

.cartitems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

.emptycart {
  text-align: center;
}

.emptycartlink {
  color: teal;
  font-size: 25px;
}

.filledcart .head {
  font-size: 28px;
  font-weight: bold;
  word-spacing: 5px;
}

.cartitems {
  margin-top: 5em;
}

@media screen and (max-width: 600px) {
  .shopping-cart {
    max-width: 95vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
  }

  .cartitems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
  }

  .cartitems > div {
    margin-top: 3em;
  }

  .cartitems {
    margin-top: 1em;
  }

  .filledcart .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .shopping-cart {
    max-width: 95vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
  }
}
