.navwrapper {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid teal;
}

.navwrapper.active {
  position: sticky;
  top: 0;
  border-bottom: none;
}

.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7em;
}

.hamburger {
  display: none;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 3px;
  cursor: pointer;
}

.icons-events {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 2em;
}

.secondnav.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 0;
  gap: 5em;
  position: relative;
}

.secondnav.active a {
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  transition: all 1s ease;
}

.secondnav.active a:nth-child(1)::after {
  width: 3.8em;
  margin-left: -3.4em;
}

.secondnav.active a:nth-child(2)::after {
  width: 6em;
  margin-left: -5.8em;
}

.secondnav.active a:nth-child(3)::after {
  width: 6em;
  margin-left: -5.4em;
}

.secondnav.active a:nth-child(4)::after {
  width: 3.5em;
  margin-left: -3.2em;
}

.secondnav.active a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 4em;
  margin-top: 18px;
  margin-left: -3.5em;
  background-color: teal;
}

.secondnav.active a:hover {
  /* font-weight: bold; */
  color: teal;
}

.link-to-login a {
  color: teal;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .first-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .hamburger {
    display: block;
    font-size: 22px;
  }

  .logo {
    display: block;
    margin: auto;
    text-align: center;
    padding-left: 20px;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 3px;
    cursor: pointer;
  }

  .icons-events {
    display: flex;
    align-items: center;
    gap: 0;
    padding-right: 0;
  }

  .secondnav.active {
    display: none;
  }

  .secondnav {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 90vh;
    margin-top: 1.3em;
    margin-left: 20px;
  }

  .secondnav > a {
    margin-top: 2.5em;
  }

  .secondnav a:hover {
    color: teal;
  }

  .secondnav a:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
  }
  .secondnav a:nth-child(2) {
    font-size: 23px;
    font-weight: bold;
  }
  .secondnav a:nth-child(3) {
    font-size: 24px;
    font-weight: bold;
  }
  .secondnav a:nth-child(4) {
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (max-width: 390px) {
  .secondnav {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 90vh;
    margin-top: 1.3em;
    margin-left: 20px;
  }

  .secondnav > a {
    margin-top: 2.5em;
  }

  .hamburger {
    font-size: 20px;
  }

  .logo a {
    display: block;
    margin: auto;
    text-align: center;
    padding-left: 0;
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 0;
    cursor: pointer;
  }
}
