.signup-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.signup-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.signup-head {
  font-size: 25px;
  font-weight: bold;
}

.signup-info {
  max-width: 350px;
  font-size: 15px;
  text-align: center;
}

.signup-form form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em;
}

label {
  font-size: 13px;
  font-weight: bold;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

input {
  font-size: 16px;
}

input::placeholder {
  font-size: 14px;
}

.f-password span {
  float: right;
}

.f-password span a {
  font-size: 12px;
}

button {
  cursor: pointer;
  background-color: teal;
  color: white;
  border: none;
}

.create-account-link {
  font-size: 15px;
  margin-top: 1em;
}

.create-account-link a {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width: 601px) and (max-width: 959px) {
  .signup-container {
    max-width: 95vw;
    margin: auto;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }

  .signup-section {
    max-width: 95vw;
    margin: auto;
    gap: 0;
  }

  .signup-section > div {
    margin-top: 2em;
  }

  .signup-head {
    font-size: 24px;
    text-align: center;
  }

  .signup-form form {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .signup-form form > div {
    margin-top: 1.5em;
  }

  label {
    font-size: 13px;
  }

  .signup-form form input,
  .signup-form form button {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
  }

  .signup-info {
    text-align: center;
    max-width: 90vw;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .signup-container {
    max-width: 95vw;
    margin: auto;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
  }

  .signup-section {
    max-width: 90vw;
    margin: auto;
    gap: 0;
  }

  .signup-section > div {
    margin-top: 2em;
  }

  .signup-head {
    font-size: 23px;
    text-align: center;
  }

  .signup-form form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  .signup-form form > div {
    margin-top: 1.5em;
  }

  label {
    font-size: 13px;
  }

  input,
  button {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
  }

  button {
    padding: 17px;
  }

  input {
    font-size: 17px;
  }

  input::placeholder {
    font-size: 16px;
  }
}
