.offers {
  margin-top: 10em;
}

.offers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .offers {
    margin-top: 7em;
  }

  .offers-container{
    gap: 0;
  }

  .offers-container > div{
    margin-top: 3em;
  }
}
